.alert a.close, a.btn{
  text-decoration: none !important;
}

.form-horizontal .form-group{
  margin-left: 0;
  margin-right: 0;
}

.has-error .help-block{
  color: #dd4b39;
}

header#header .navbar{
  padding-right: 20px;
}

.fa.margin{
  margin-left: 10px;
}

.fa.margin-right{
  margin-right: 10px;
}

#sidebar{
  .sidebar_section{
    .box-title{
      font-size: 14px;
    }
  }
}

.box-header{
  .box-title{
    font-size: 14px;
  }
}

.ckeditor{
  list-style: none;
  label{
    font-size: 93%;
    padding-left: 0;
    color: rgb(71, 71, 71);
  }
}

.chartJs{
  width: 100% !important;
}

.columns{
  .column{
    display: inline-block;
    vertical-align: top;
    float: left;
  }
  .column:first-child{
    // margin-right: 1.6% !important;
  }
}

.timeline-header{
  font-size: 14px !important;
}

#footer.main-footer{
  margin-left: 0;
  p{
    margin-bottom: 0;
  }
}

.breadcrumb-block{
  .breadcrumb{
    li{
      a{
        > .fa{
          margin-right: 5px;
        }
        &:hover{
          color:#DD4B39;
        }
      }
      &:last-child a{
        color:#DD4B39;
      }
    }
  }
}


.index-filter{
  .filter_select{
    .select2{
      width: 90% !important;
      .select2-selection{
        border: none;
      }

    }
  }

  .select_and_search{
    .select2{
      width: 35% !important;
      .select2-selection{
        border: none;
        border-right: 1px solid #d2d6de;
      }
    }
  }
  input[type='submit']{
    padding-left: 30px;
    padding-right: 30px;
  }
  label{
    font-weight: normal;
  }
}

.footer.main-footer{
  position: fixed;
  bottom: 0;
  width: 84%;
}

#main_content{padding-bottom: 50px;}

.tabs{
  margin-bottom: 20px;
  background: #fff;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  border-radius: 3px;
}

.action_item{
  display: inline-block;
  .dropdown_menu{
    position: relative;
    .dropdown-menu{
      right: 0;
      left: inherit;
    }
  }
}

.treeview-menu{
  a{
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
