.modal{
  .modal-title{
    font-size: 18px !important;
    color: #fff;
  }
  &.modal-default{
    .modal-title{
      color: #000;
    }
  }
}

.btn{
  text-shadow: none !important;
  background-image: none !important;

  &.btn-outline{
    background-color: transparent !important;
  }

  &:hover, &:active{
    background-image: none !important;
  }

  &:active{
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
  }

  &.btn-primary{
    &:hover, &:active{
      background-color: #367fa9 !important;
    }
    &:active:hover{
      background-color: #204d74 !important;
      border-color: #122b40 !important;
    }
  }

  &.btn-default{
    &:hover, &:active{
      background-color: #e7e7e7 !important;
    }
  }
}
button.close{
  background-color: transparent !important;
  box-shadow: none !important;
  &:hover, &:active{
    background-image: none !important;
  }
}

.alert a.close, a.btn{
  text-decoration: none !important;
}

.form-horizontal .form-group{
  margin-left: 0;
  margin-right: 0;
}

.has-error .help-block{
  color: #dd4b39;
}

header#header .navbar{
  padding-right: 20px;
}

.fa.margin{
  margin-left: 10px;
}
